include ../modules/head/head
include ../modules/footer/footer

doctype html
html(lang='ru')
    head
        +head({title: 'Tupperware'})
    body
        header.header.view-port.nonborder
            a.checkin__logo(href='index.html')
                img.checkin__logo_img(src='images/logo.svg', alt='Логотип')
            .header__account
                +icon('account', 'header')
                a.header__link(href='#') Войти
                +icon('logout','confirm')
        block content

        +footer()