@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Light.woff2') format('woff2'),
			url('../fonts/TupperPRO-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Mediumitalic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Mediumitalic.woff') format('woff')
	font-weight: 500
	font-style: italic
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Mediumitalic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Mediumitalic.woff') format('woff')
	font-weight: 500
	font-style: italic
	
@font-face
	font-family: 'FontAwesome'
	src: url('../fonts/FontAwesome.woff2') format('woff2'),
			url('../fonts/FontAwesome.woff') format('woff')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Italic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Italic.woff') format('woff')
	font-weight: normal
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-UltraLightitalic.woff2') format('woff2'),
			url('../fonts/TupperPRO-UltraLightitalic.woff') format('woff')
	font-weight: 200
	font-style: italic
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Italic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Italic.woff') format('woff')
	font-weight: normal
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Lightitalic.woff2') format('woff2'),
			url('../fonts/TupperPRO-Lightitalic.woff') format('woff')
	font-weight: 300
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Light.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-UltraLightitalic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-UltraLightitalic.woff') format('woff')
	font-weight: 200
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Italic.woff2') format('woff2'),
			url('../fonts/TupperPRO-Italic.woff') format('woff')
	font-weight: normal
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Thinitalic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Thinitalic.woff') format('woff')
	font-weight: 100
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Thinitalic.woff2') format('woff2'),
			url('../fonts/TupperPRO-Thinitalic.woff') format('woff')
	font-weight: 100
	font-style: italic
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Light.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Heavyitalic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Heavyitalic.woff') format('woff')
	font-weight: 900
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Medium.woff2') format('woff2'),
			url('../fonts/TupperPRO-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-UltraLightitalic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-UltraLightitalic.woff') format('woff')
	font-weight: 200
	font-style: italic
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Lightitalic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Lightitalic.woff') format('woff')
	font-weight: 300
	font-style: italic
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Bolditalic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Bolditalic.woff') format('woff')
	font-weight: bold
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-UltraLight.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-UltraLight.woff') format('woff')
	font-weight: 200
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Regular.woff2') format('woff2'),
			url('../fonts/TupperPRO-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Bold.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Heavy.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Heavy.woff') format('woff')
	font-weight: 900
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-UltraLight.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-UltraLight.woff') format('woff')
	font-weight: 200
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Light.woff2') format('woff2'),
			url('../fonts/TupperPRO-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Regular.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Bolditalic.woff2') format('woff2'),
			url('../fonts/TupperPRO-Bolditalic.woff') format('woff')
	font-weight: bold
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Bold.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Bolditalic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Bolditalic.woff') format('woff')
	font-weight: bold
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Thin.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Thin.woff') format('woff')
	font-weight: 100
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Thin.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Thin.woff') format('woff')
	font-weight: 100
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Heavy.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Heavy.woff') format('woff')
	font-weight: 900
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Thin.woff2') format('woff2'),
			url('../fonts/TupperPRO-Thin.woff') format('woff')
	font-weight: 100
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Heavyitalic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Heavyitalic.woff') format('woff')
	font-weight: 900
	font-style: italic
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Medium.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Heavy.woff2') format('woff2'),
			url('../fonts/TupperPRO-Heavy.woff') format('woff')
	font-weight: 900
	font-style: normal
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Medium.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal
	
@font-face
	font-family: 'TupperPRO NARROW'
	src: url('../fonts/TupperPRONARROW-Thinitalic.woff2') format('woff2'),
			url('../fonts/TupperPRONARROW-Thinitalic.woff') format('woff')
	font-weight: 100
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Regular.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Mediumitalic.woff2') format('woff2'),
			url('../fonts/TupperPRO-Mediumitalic.woff') format('woff')
	font-weight: 500
	font-style: italic
	
@font-face
	font-family: 'TupperPRO WIDE'
	src: url('../fonts/TupperPROWIDE-Lightitalic.woff2') format('woff2'),
			url('../fonts/TupperPROWIDE-Lightitalic.woff') format('woff')
	font-weight: 300
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Bold.woff2') format('woff2'),
			url('../fonts/TupperPRO-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-Heavyitalic.woff2') format('woff2'),
		url('../fonts/TupperPRO-Heavyitalic.woff') format('woff')
	font-weight: 900
	font-style: italic
	
@font-face
	font-family: 'TupperPRO'
	src: url('../fonts/TupperPRO-UltraLight.woff2') format('woff2'),
		url('../fonts/TupperPRO-UltraLight.woff') format('woff')
	font-weight: 200
	font-style: normal


