.icon
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor

.icon__account
	width:(15/18)*1em
	font-size:(18/10)*1rem
.icon__address
	width:(10/15)*1em
	font-size:(15/10)*1rem
.icon__apply
	width:(17/14)*1em
	font-size:(14/10)*1rem
.icon__apply-green
	width:(14/12)*1em
	font-size:(12/10)*1rem
.icon__arrow
	width:(18/37)*1em
	font-size:(37/10)*1rem
.icon__arrow-up
	width:(10/10)*1em
	font-size:(10/10)*1rem
.icon__attention
	width:(64/64)*1em
	font-size:(64/10)*1rem
.icon__basket
	width:(19/17)*1em
	font-size:(17/10)*1rem
.icon__basket-2
	width:(22/24)*1em
	font-size:(24/10)*1rem
.icon__book
	width:(33/37)*1em
	font-size:(37/10)*1rem
.icon__car
	width:(50/35)*1em
	font-size:(35/10)*1rem
.icon__check
	width:(17/15)*1em
	font-size:(15/10)*1rem
.icon__close
	width:(18/18)*1em
	font-size:(18/10)*1rem
.icon__confirm-square
	width:(18/18)*1em
	font-size:(18/10)*1rem
.icon__diamond
	width:(25/25)*1em
	font-size:(25/10)*1rem
.icon__double-arrow
	width:(32/27)*1em
	font-size:(27/10)*1rem
.icon__download
	width:(19/21)*1em
	font-size:(21/10)*1rem
.icon__editor
	width:(39/39)*1em
	font-size:(39/10)*1rem
.icon__file
	width:(13/15)*1em
	font-size:(15/10)*1rem
.icon__filter-icon
	width:(21/20)*1em
	font-size:(20/10)*1rem
.icon__home
	width:(32/25)*1em
	font-size:(25/10)*1rem
.icon__logout
	width:(18/15)*1em
	font-size:(15/10)*1rem
.icon__mail
	width:(12/8)*1em
	font-size:(8/10)*1rem
.icon__manager-first
	width:(56/56)*1em
	font-size:(56/10)*1rem
.icon__manager-two
	width:(56/56)*1em
	font-size:(56/10)*1rem
.icon__medal
	width:(40/60)*1em
	font-size:(60/10)*1rem
.icon__menu
	width:(27/17)*1em
	font-size:(17/10)*1rem
.icon__pdf-file
	width:(16/21)*1em
	font-size:(21/10)*1rem
.icon__phone
	width:(12/11)*1em
	font-size:(11/10)*1rem
.icon__print
	width:(23/21)*1em
	font-size:(21/10)*1rem
.icon__refresh
	width:(23/18)*1em
	font-size:(18/10)*1rem
.icon__search
	width:(15/16)*1em
	font-size:(16/10)*1rem
.icon__select-arrow
	width:(10/5)*1em
	font-size:(5/10)*1rem
.icon__share
	width:(21/21)*1em
	font-size:(21/10)*1rem
.icon__shunk-12
	width:(59/59)*1em
	font-size:(59/10)*1rem
.icon__shunk-5offer
	width:(59/59)*1em
	font-size:(59/10)*1rem
.icon__shunk-5step
	width:(59/59)*1em
	font-size:(59/10)*1rem
.icon__site
	width:(47/37)*1em
	font-size:(37/10)*1rem
.icon__small-arrow
	width:(9/14)*1em
	font-size:(14/10)*1rem
.icon__stars
	width:(179/25)*1em
	font-size:(25/10)*1rem
.icon__studio
	width:(40/39)*1em
	font-size:(39/10)*1rem
.icon__to-first-arrow
	width:(15/21)*1em
	font-size:(21/10)*1rem
.icon__to-last-arrow
	width:(15/21)*1em
	font-size:(21/10)*1rem
.icon__view-square
	width:(22/22)*1em
	font-size:(22/10)*1rem
.icon__view-table
	width:(22/22)*1em
	font-size:(22/10)*1rem
