@require 'partials/_params.styl'
@require 'partials/_mixins.styl'
.shum
	line-height 1.3
	font-family 'TupperPRO', sans-serif !important
	&__index-bg
		background-image url('../images/scale3.jpg') !important