@require 'partials/_params.styl'
@require 'partials/_mixins.styl'

.journal
	font-family 'TupperPRO', sans-serif !important
	&__h2
		padding 10px 10px
		margin-bottom 15px
		font-size 16px
		text-transform uppercase
		color $pink-color