@require 'partials/_params.styl'
@require 'partials/_mixins.styl'

.myslider
	width 100%
	&__container
		width 80%
		&_ul
			flex(row,space-between,center)
			width 100%
		&_li
			width 25%
			& img
				width 100%