extends ../layouts/default
include ../modules/icon/icon
include ../modules/add_consult/add_consult
include ../modules/path/path

block content
    +path({title: ['Главная страница', 'Личный кабинет', 'Дополнительно', 'Добавить консультанта'], href: ['index.html']})
    .addcons.view-port
        .addcons__aside
            ul
                li
                    a.aside-active(href='add_consult.html') Добавить консультанта
                li
                    a(href='change_consult.html') Изменить консультанта
                li
                    a(href='calendar.html') Календарь
                li
                    a(href='#') Условия сотрудничества
                li
                    a(href='transfer_group.html') Перевод в другую группу
        .addcons__content

            h1.big-title.standart-gap.addcons__title Добавить консультанта

            p.addcons__p.standart-gap На указанный в форме e-mail придет запрос на подтверждение регистрации.

            .addcons__form_box
                form.addcons__form.standart-gap
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='text', name='name', required)
                        label.profile__info_form_label Имя*
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='text', name='secondname')
                        label.profile__info_form_label Отчество
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='text', name='surname', required)
                        label.profile__info_form_label Фамилия*
                    .profile__info_form_item-total.addcons__item
                        select.active__form_input.active__form_select(name='birdth' required)
                        label.active__form_label Дата рождения*
                        .active__form_input_arrow
                            +icon('select-arrow')
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='text', name='gender')
                        label.profile__info_form_label Пол
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='tel', name='tel', required)
                        label.profile__info_form_label Мобильный*
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='text', name='invite', required)
                        label.profile__info_form_label Кто пригласил в компанию*
                        .addcons__form_input_search
                            +icon('search','add-consult')
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='text', name='head', required)
                        label.profile__info_form_label Номер руководителя*
                    .profile__info_form_item-total.addcons__item
                        input.profile__info_form_input(type='email', name='mail', required)
                        label.profile__info_form_label E-mail*

                .addcons__button
                    a(href='#') Регистрация

        .addcons__modal
            .addcons__modal_wrapper
                .addcons__modal_header.standart-gap
                    .addcons__modal_select
                        p Показать записей:
                        .addcons__modal_select_span
                            span 5
                            +icon('arrow','down')
                    .addcons__modal_search
                        input( type ='text', name ='search')
                        +icon('search','add-search')
                    .addcons__modal_close
                        span
                .addcons__modal_blocks
                    +search_block(blocks)
                .addcons__modal_lines
                    .addcons__lines_header
                        .addcons__lines_header_check
                            input(type='checkbox')
                        .addcons__lines_header_item
                            p Код
                            +icon('arrow-up' , 'addcons-up')
                        .addcons__lines_header_item
                            p Фамилия
                            +icon('arrow-up' , 'addcons-up')
                        .addcons__lines_header_item
                            p Имя
                            +icon('arrow-up' , 'addcons-up')
                        .addcons__lines_header_item
                            p Отчество
                            +icon('arrow-up' , 'addcons-up')
                        .addcons__lines_header_item
                            p Телефон
                            +icon('arrow-up' , 'addcons-up')
                        .addcons__lines_header_item
                            p Email
                            +icon('arrow-up' , 'addcons-up')
                        .addcons__lines_header_item
                            p Руководитель
                            +icon('arrow-up' , 'addcons-up')
                    +search_list(lines)
                .addcons__modal_footer
                    .addcons__scroll
                        p.addcons__scroll_p.standart-gap Записи с 1 по 5 из 176 записей
                        .addcons__scroll_pages.standart-gap
                            +icon('arrow','products-scroll icon__arrow_left')
                            ul
                                li 1
                                li 2
                                li 3
                                li 4
                                li 5
                                li ...
                                li 20
                            +icon('arrow','products-scroll icon__arrow_right')
                    .addcons__scroll_button
                        a(href='') Выбрать
