extends ../layouts/default
include ../modules/icon/icon
include ../modules/delivery/delivery
include ../modules/path/path

block content
    +path({title: ['Главная страница', 'Доставка и оплата'], href: ['index.html']})
    .delivery.view-port
        h1.big-title.standart-gap Доставка и оплата
        p.delivery__p.standart-gap Доставка осуществляется по Москве и Московской области, а также в другие города России.
        .delivery__content
            .delivery__content_block
                .delivery__content_title-mob
                    h2.delivery__content_h2 Сроки доставки
                    +icon('arrow','delivery_down')
                .delivery__content_title-desc
                    h2.delivery__content_h2 Сроки доставки
                .delivery__content_hidden
                    ul
                        li
                            span Срок доставки по Москве и МО составляет от 2 до 5 дней. Сроки поступления заказов в другие города указаны в таблице ниже.
                        li
                            span Сроки хранения заказов на пунктах самовывоза  - 10 дней. Заказы, не востребованные в течение 10 дней с момента поступления в пункт самовывоза, аннулируются.
            .delivery__content_block
                .delivery__content_title-mob
                    h2.delivery__content_h2 Стоимость доставки
                    +icon('arrow','delivery_down')
                .delivery__content_title-desc
                    h2.delivery__content_h2 Стоимость доставки
                .delivery__content_hidden
                    ul
                        li
                            span Стоимость доставки по Москве и Московской области составляет 100 рублей до пункта самовывоза и 300 рублей курьером. Стоимость доставки в другие города России указаны в таблице.
                        li
                            span Бесплатная доставка осуществляется при заказе от 8000 рублей во все города (сумма указана по цене для консультанта).
            .delivery__content_block
                .delivery__content_title-mob
                    h2.delivery__content_h2 Способы оплаты
                    +icon('arrow','delivery_down')
                .delivery__content_title-desc
                    h2.delivery__content_h2 Способ оплаты
                .delivery__content_hidden
                    ul
                        li
                            span Наличными или банковской картой. Дополнительно уточняйте возможность оплаты банковской картой в конкретном пункте самовывоза.
                    .delivery__content_table.standart-gap
                        .delivery__table
                            p Регион
                            p Срок доставки
                            p Минимальная сумма заказа в рублях (по цене консультанта)
                            p Самовывоз с пунктов выдачи
                            p Курьерская доставка
                        +delivery_lines(delivery.line)
                    .delivery__content_attention
                        .delivery__attention
                            +icon('attention','confirm')
                            p Важно!
                                span При получении товара просим вас обязательно проверять содержимое заказа и товарный вид изделий. В случае возникновения любых вопросов, связанных с качеством поставленной продукции, Вы можете обратиться в студию, где зарегистрированы консультантом.














        //.confirm__attention
        //    +icon('attention','confirm')
        //    p.confirm__attention_p Необходимо согласиться с обработкой персональных данных
        //.confirm__content
        //    p.standart-gap Настоящим даю свое согласие ООО «Тапервэр» (ОГРН 1037739064318; 125284, г. Москва, Ленинградский пр-т, д. 31А, стр. 1) на обработку своих персональных данных, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение, передачу, в том числе трансграничную передачу персональных данных на территории любых иностранных государств, обезличивание, блокирование, уничтожение персональных данных. Согласие дается на обработку следующих персональных данных:
        //    ul.standart-gap
        //        li
        //            span Фамилия, Имя и Отчество.
        //        li
        //            span Номер мобильного / городского телефона.
        //        li
        //            span Адрес электронной почты.
        //        li
        //            span Адрес места жительства.
        //        li
        //            span Дата рождения.
        //    p.standart-gap Настоящее Согласие дается в следующих целях:
        //    ul.standart-gap
        //        li
        //            span Организация доставки продукции ООО «Тапервэр» субъекту персональных данных.
        //        li
        //            span Проведение маркетинговых, статистических и иных исследований.
        //        li
        //            span Продвижения товаров, работ и услуг.
        //        li
        //            span Доведение до сведения субъекта персональных информации рекламного характера.
        //        li
        //            span Доведение до сведения субъекта персональных данных сведений о потребительских свойствах продукции ООО «Тапервэр».
        //    p.standart-gap Настоящее Согласие на обработку персональных данных действует до момента его отзыва субъектом персональных данных. Отзыв настоящего Согласия осуществляется посредством направления электронного сообщения на emzh89@mail.ru с указанием фамилии, имени, номера мобильного телефона.
        //    label.confirm__checkbox.standart-gap(for='confirm-checkbox')
        //        input(type='checkbox', id='confirm-checkbox')
        //        .confirm__square
        //            +icon('apply-green','confirm')
        //        p Подтверждение согласия
        //    .confirm__button.standart-gap
        //        a(href='#') Подтвердить и продолжить



