extends ../layouts/default
include ../modules/icon/icon
include ../modules/catalog/catalog
include ../modules/path/path


block content
    +path({title: ['Главная страница', 'Изделия', 'Умное хранение и транспортировка'], href: ['index.html']})
    .products.view-port

        +aside-nav()
        h1.products__title Умное хранение и транспортировка
            .products__settings
                .products__settings_view
                    .products__settings_view_layout
                        +icon('view-square','products')
                        +icon('view-table','products')
                    .products__settings_view_arrows
                        .products__settings_view_arrows_arrow-bottom
                            +icon('arrow','products-bottom icon__arrow_down')
                        .products__settings_view_arrows_arrow-top
                            +icon('arrow','products-top icon__arrow_up')
                .products__settings_filter
                    .products__settings_filter_box
                        .products__settings_filter_box_txt Фильтры
                        .products__settings_filter_box_icon
                            +icon('filter-icon','products')
                        .products__settings_modal
                            .products__settings_modal_txt Фильтры
                            .products__settings_modal_close &times;
                            .products__settings_modal_sorting Сортировка
                                ul.hidden
                                    li По названию
                                    li По коду продаж
                                    li По цене
                                +icon('arrow','products_modal-right icon__arrow_right')
                            .products__aside_filter.products__aside_filter_icon
                                .products__aside_filter_button
                                    input(type ='checkbox' id ='check')
                                    label(for='check') Только подарки
                                .products__aside_customer-price
                                    p Цена клиента
                                    .products__aside_customer-price_input
                                        .products__aside_customer-price_input_field
                                            input(type='text' placeholder='0 руб.' min='0' max='29999')
                                            span -
                                            input(type='text' placeholder='29 999 руб.' min='0' max='29999')
                                        .products__aside_customer-price_input_slider
                                            .products__aside_customer-price_input_slider_bar
                                                .products__aside_customer-price_input_slider_bar_left
                                                .products__aside_customer-price_input_slider_bar_right
                                .products__aside_consultant-price
                                    p Цена консультанта
                                    .products__aside_consultant-price_input
                                        .products__aside_consultant-price_input_field
                                            input(type='text' placeholder='0 руб.' min='0' max='29999')
                                            span -
                                            input(type='text' placeholder='29 999 руб.' min='0' max='29999')
                                        .products__aside_consultant-price_input_slider
                                            .products__aside_consultant-price_input_slider_bar
                                                .products__aside_consultant-price_input_slider_bar_left
                                                .products__aside_consultant-price_input_slider_bar_right
                                .products__aside_buttons
                                    .products__aside_buttons_show Показать
                                    .products__aside_buttons_reset Сбросить
                                        .products__aside_buttons_reset_circle
                                            span

                .products__settings_result
                    .products__settings_result_number 45
                    .products__settings_result_txt товаров найдено
                    .products__settings_result_sorting Сортировка:
                        ul
                            li По названию
                            li По коду продаж
                            li По цене
                        +icon('arrow','products_result-bottom icon__arrow_down')
            .products__main

                +catalog(catalog.products)
                .products__main_more
                    span Загрузить ещё
                +button-up()
                +scroll()
        +add-basket()








