extends ../layouts/default
include ../modules/icon/icon
include ../modules/path/path
include ../modules/programm_file/programm_file

block content
    +path({title: ['Главная страница', 'Программы','Программа "Менеджер'], href: ['index.html']})
    .pmanager.view-port
        .pformula__aside
            ul
                li
                    a(href='#').aside-active Программа «Менеджер»
                li
                    a(href='#') Программа «Директор»
                li
                    a(href='#') Программа «Формула успеха»
                li
                    a(href='#') Программа «Авангард»
                li
                    a(href='#') Программа «Живые деньги»
                li
                    a(href='#') Программа ШУНК
                li
                    a(href='#') Программа ШУМ
                li
                    a(href='#') Карьерные возможности
                li
                    a(href='#') Буклеты «online»
        .pdirector__content
            h1.standart-gap.big-title Программа «Менеджер» TUPPERWARE
            .pdirector__content_wrapper.standart-gap
                .pdirector__block_img
                    img(src='images/manager.jpg')
                .pdirector__block_h3.pdirector__block_title
                    h3 Менеджером TUPPERWARE стать легко!
                    ul.pdirector__block_ul
                        li
                            p 7 рекрутов и более;

                        li
                            p Объем продаж на уровне не менее 4 Кавлификационных заказов в месяц продвижения или предшествующий
            .pmanager__padding
                .pdirector__block_h3
                    h3.pmanager__hidden_h3.pdirector__hidden_h3 Преимущества статуса
                    h3.pmanager__space.pmanager__hidden_h3.pdirector__hidden Преимущества статуса
                        +icon('arrow','pformula_down')
                    .pdirector__hidden-blocks
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__number
                                p 1
                            .pmanager__description
                                p Получение комиссии 4% с оборота группы, включая личные продажи Менеджера,при выполнении следующих условий:
                        ul.pmanager__ul
                            li
                                p 3% от оборота группы – при условии размещения 6 Квалификационных заказов от Консультантов группы без учёта личных продаж Менеджера;
                            li
                                p 1% от оборота группы – при условии 2 Рекрутов в группе (включая личных Рекрутов Менеджера). Новые Консультанты должны выполнить квалификацию и оплатить счета в течение 4 недель, начиная с недели регистрации;
                        p.pmanager__p.standart-gap Каждый последующий уровень комиссии рассчитывается только при достижении предыдущего.

                        .pdirector__block_h3.pdirector__block_h3-fill.standart-gap
                            h3 Рассмотрим пример
                            p В группе Менеджера Елены в марте были зарегистрированы два Новых Консультанта, которые выполнили квалификацию в необходимый срок. Однако в марте оборот в группе Елены был ниже 6 Квалификационных заказов без учёта её личных продаж. Соответственно, Елене не может быть начислен 1% комиссии с личной группы, т. к. она не вышла на базовые 3%.
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__number
                                p 2
                            .pmanager__description
                                p При продвижении Нового Менеджера Мама-Менеджер получает комиссию от оборота новой (продвинутой) группы на протяжении 3 месяцев после продвижения,включая месяц продвижения Нового Менеджера. Процент комиссии зависит от процента, получаемого Мамой-Менеджером с оборота своей личной группы (3% или 4%) и не зависит от результатов дочерней группы.
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__number
                                p 3
                            .pmanager__description
                                p Возможность участия в программе «Авангард»
            .pmanager__padding.pmanager__border
                .pdirector__block_h3
                    h3.pmanager__hidden_h3.pdirector__hidden_h3 Условия сохранения статуса
                    h3.pmanager__space.pmanager__hidden_h3.pdirector__hidden Условия сохранения статуса
                        +icon('arrow','pformula_down')
                    .pdirector__hidden-blocks
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__number
                                p 3
                                    span %
                            .pmanager__description
                                p Получение базовой комиссии Менеджера 3% за работу с группой (размещение 6 Квалификационных заказов Консультантами группы без учёта личных заказов Менеджера) каждый месяц.
                        .pdirector__block_h3-fill
                            p В календарном году у Менеджера есть 2 месяца (следующие не подряд), когда он по тем или иным причинам не выходит на 3% базовой комиссии, но его статус сохраняется. В случае если Менеджер не выходит на базовую комиссию в течение 2 месяцев подряд, при подведении итогов второго месяца он теряет свой статус,а его группа расформировывается. При закрытии января каждого календарного года для расчёта выполнения Менеджером данного условия в январе в расчёт берётся декабрь предыдущего года. Для Нового Менеджера отсчёт по выполнению данного условия начинается с полного месяца, следующего за месяцем продвижения.
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__number
                                p 2
                                    span к/з
                            .pmanager__description
                                p Размещение 2 личных Квалификационных заказов суммарно в течение 2-х предыдущих месяцев.
                        .pdirector__block_h3-fill
                            p Например, если у Менеджера нет 2 Квалификационных заказов суммарно в течение июля и августа, то при закрытии августа он переводится в Консультанты, его группа расформировывается. Для Нового Менеджера отсчёт по выполнению данного условия начинается с полного месяца, следующего за месяцем продвижения.
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__number
                                p 7
                                    span чел.
                            .pmanager__description
                                p Поддержание количества Консультантов в группе на уровне 7 человек и более.
                        .pdirector__block_h3-fill
                            p В случае если количество Консультантов группы Менеджера становится меньше 7 человек (не считая самого Менеджера), у Лидера есть 8 недель, в течение которых он остаётся в статусе Менеджера для того, чтобы восполнить количество Консультантов в группе путём личного или группового рекрутирования. В этот период Менеджер продолжает получать комиссию при выполнении соответствующих условий. При недостижении достаточного количества Консультантов по истечении 8 недель Менеджер теряет статус, его группа расформировывается.
                        .pmanager__content_wrapper
                            .pmanager__number-icon
                                +icon('attention','confirm')
                            p.pmanager__description Для восстановления статуса Лидеру необходимо будет вновь выполнить квалификацию на продвижение (привести 7 квалифицировавшихся Рекрутов и выйти на уровень продаж не менее 4 Квалификационных заказов в месяц продвижения или ему предшествующий). При каждом продвижении Менеджер получает бонус в размере 5 000 руб. / 15 000 тнг / 2 500 грн в рамках программы «Живые Деньги»
            .pmanager__padding
                .pdirector__block_h3
                    h3.pmanager__hidden_h3.pdirector__hidden_h3 Условия восстановления статуса
                    h3.pmanager__space.pmanager__hidden_h3.pdirector__hidden Условия восстановления статуса
                        +icon('arrow','pformula_down')
                    .pdirector__hidden-blocks
                        .pmanager__content_wrapper.standart-gap
                            .pmanager__description
                                p Для восстановления статуса Лидеру необходимо будет вновь выполнить квалификацию на продвижение (привести 7 квалифицировавшихся Рекрутов и выйти на уровень продаж не менее 4 Квалификационных заказов в месяц продвижения или ему предшествующий). При каждом продвижении Менеджер получает бонус в размере 5 000 руб. / 15 000 тнг / 2 500 грн в рамках программы «Живые Деньги»
            +programm_file(programms.manager)




