extends ../layouts/default
include ../modules/icon/icon
include ../modules/path/path
include ../modules/programm_file/programm_file

block content
    +path({title: ['Главная страница', 'Программы','Программа «Авангард»'], href: ['index.html']})
    .pavangard.view-port
        .pformula__aside
            ul
                li
                    a(href='#') Программа «Менеджер»
                li
                    a(href='#') Программа «Директор»
                li
                    a(href='#') Программа «Формула успеха»
                li
                    a(href='#').aside-active Программа «Авангард»
                li
                    a(href='#') Программа «Живые деньги»
                li
                    a(href='#') Программа ШУНК
                li
                    a(href='#') Программа ШУМ
                li
                    a(href='#') Карьерные возможности
                li
                    a(href='#') Буклеты «online»
        .pavangard__content
            h1.big-title.standart-gap Программа «Авангард»

            // FLEX-ROW-CONTAINER ai: center
            .pavangard__flex.standart-gap

                .pavangard__image.standart-gap
                    img(src='images/avangard.jpg')
                .pavangard__image_text
                    p #[span «Авангард»] – это элитный клуб для лучших Менеджеров, который успешно функционирует на многих рынках корпорации Tupperware.
                    p Членство в клубе гарантирует дополнительный доход и статусные привилегии своим участникам
            // Аккордион onclick
            // Рамка снизу - для обертки
            .pavangard__border

                // h2 desctop
                h2.pavangard__h2_hidden Условия квалификации

                // h2 mob + arrow
                .pavangard__h2_mob
                    h2.pavangard__h2 Условия квалификации
                    +icon('arrow','pformula_down')

                // HIDDEN BLOCK
                .pavangard__hidden
                    ul
                        li
                            p Достижение объёма продаж в группе на уровне 25 Квалификационных заказов и выше в расчётный месяц. В месяц квалификации бонус не выплачивается, даже если продажи в группе в этом месяце составили 30 Квалификационных заказов и выше.
                        li
                            p Вступить в клуб можно в любом месяце календарного года.
                        li
                            p Объём продаж группы включает личные продажи Менеджера.
            //Аккордион onclick
            // Рамка снизу - для обертки
            .pavangard__border

                // h2 desctop
                h2.pavangard__h2_hidden Преимущества участия в программе

                // h2 mob + arrow
                .pavangard__h2_mob
                    h2.pavangard__h2 Преимущества участия в программе
                    +icon('arrow','pformula_down')

                // HIDDEN BLOCK
                .pavangard__hidden
                    ul.standart-gap
                        li
                            p Возможность получения денежного бонуса сверх дохода от личных продаж, комиссионного вознаграждения Менеджера или Директора, бонуса за выполнение Формулы Успеха, бонуса по программе «Живые Деньги».
                        li
                            p Бонус по программе «Авангард» выплачивается, начиная со второго месяца членства в клубе, следующего за квалификационным, при условии достижения объёма продаж в группе в этом месяце:

                    // TABLE
                        // block-table
                    .pavangard__block-table.standart-gap
                        .pavangard__block
                            p Уровень
                            p Бонус в месяц
                            p Количество квалифицированных заказов
                        //table-lines
                        .pavangard__block_line
                            p Бронзовый
                            p 10 000 рублей
                            p 30 квалификационных заказов
                        .pavangard__block_line
                            p Серебряный
                            p 15 000 рублей
                            p 40 квалификационных заказов
                        .pavangard__block_line
                            p Золотой
                            p 20 000 рублей
                            p 50 квалификационных заказов
                        .pavangard__block_line
                            p Платиновый
                            p 25 000 рублей
                            p 70 квалификационных заказов
                    // TABLE----END

                    .pavangard__gray
                        h3.pavangard__gray_h3 Рассмотрим пример
                        p В марте 2018 года продажи группы составили 34 Квалификационных заказа, и Менеджер выполнил квалификацию на вступление в клуб «Авангард». Бонус в размере 10 000 руб. / 50 000 тнг / 4 000 грн в марте Менеджеру не выплачивается. Для получения бонуса Менеджеру необходимо будет достигнуть в апреле объёма продаж в группе на уровне 30 Квалификационных заказов и выше.
            //Аккордион onclick
            .pavangard__noborder
                // h2 desctop
                h2.pavangard__h2_hidden Преимущества участия в программе

                // h2 mob + arrow
                .pavangard__h2_mob
                    h2.pavangard__h2 Преимущества участия в программе
                    +icon('arrow','pformula_down')

                // HIDDEN BLOCK
                .pavangard__hidden
                    ul
                        li
                            p Поддержание объёма продаж в группе на уровне не менее 25 Квалификационных заказов каждый месяц.
                        li
                            p В течение календарного года у Менеджера есть 2 месяца, следующие не подряд,когда условие достижения продаж в группе на уровне 25 Квалификационных заказов может быть не соблюдено, но членство в клубе и возможность получения бонуса в следующем месяце сохраняются. При объёме продаж ниже необходимого в течение 2 месяцев подряд Менеджер теряет членство в клубе. При закрытии января каждого календарного года для расчёта сохранения Менеджером членства в клубе в январе в расчёт берётся декабрь предыдущего года.
                        li
                            p При дисквалификации Менеджер может снова квалифицироваться на участие в программе «Авангард», выполнив квалификацию (достигнув объёма продаж в группе на уровне 25 Квалификационных заказов в течение месяца). Бонус в месяц квалификации не выплачивается. Менеджер может вступать в клуб неограниченное количество раз в течение календарного года.
            +programm_file(programms.avangard)



