extends ../layouts/default
include ../modules/icon/icon
include ../modules/path/path

block content
    +path({title: ['Главная страница', 'Правила компании'], href: ['index.html']})
    .rules.view-port
        h1.big-title.standart-gap Правила компании
        .rules__content
            ul.rules__ul
                li.rules__ul_tab(data-tab='1')
                    span Правила
                    .rules__arrow.rules__active(data-tab='1')
                li.rules__ul_tab(data-tab='2')
                    span Документы
                    .rules__arrow(data-tab='2')
            .rules__blocks
                .rules__blocks_tab
                    span Правила
                    .rules__blocks_tab_arrow
                .rules__blocks_content(data-tab='1')
                    ul.rules__blocks_ul
                        li 1. Презентация – главный и основной метод работы в Компании Tupperware, основанный на демонстрации изделий.
                        li 2. Гость – человек, пришедший на Презентацию Tupperware® или в Дистрибьюторный Центр, потенциальная Хозяйка или Новый Консультант.
                        li 3. Хозяйка (Хозяин) – женщина или мужчина, которые собирают у себя дома Гостей на Презентацию Tupperware®. Хозяйка получает подарок по текущей промопрограмме при достижении определённого уровня продаж на Презентациях в течение месяца суммарно.
                        li 4. Консультант – активный независимый работник Tupperware®, проводящий Презентации, работающий с Хозяйками и рекрутирующий Новых Консультантов.
                        li 5. Новый Консультант / Рекрут – Гость или Хозяйка, пришедший в Дистрибьюторный Центр, заполнивший «Заявление Консультанта» и прошедший базовое обучение.
                        li 6. Квалификация Нового Консультанта / Рекрута – размещение 2 Квалификационных заказов.
                        li 7. Период квалификации Нового Консультанта / Рекрута – любой период.
                        li 8. Квалификационный заказ – суммарный заказ в течение недели или месяца с определённым уровнем продаж*.
                        li 9. Для получения подарков за Рекрутов Консультанту не требуется выполнение собственной квалификации.
                        li 10. Новый Консультант / Рекрут включается в программы Компании и получает подарки за активность и уровни продаж по действующим программам, когда проводит Презентации и размещает Квалификационные заказы ещё до выполнения суммарной квалификации.
                        li 11. Первой неделей работы Нового Консультанта является неделя, на которой Консультант заполнил Заявку.
                        li 12. Период квалификации Нового Консультанта для получения подарка Рекрутёром – период действия программы по рекрутированию, во время которой пришёл Новый Консультант. Рекрутёр не получает подарка, если Новый Консультант не завершил квалификацию в данный период.
                        li 13. Активный Консультант – Консультант, посещающий Ассамблеи, проводящий Презентации и размещающий заказы на сумму не менее определённого уровня* еженедельно. Консультант, размещающий заказ ниже минимального более 26 недель, теряет статус.
                        li 14. Консультант, который ранее потерял статус и был удалён из базы, может вновь стать Консультантом Tupperware, заполнив заявление и пройдя обучение в Дистрибьюторном Центре.
                        li 15. Консультант не может перейти в другой Дистрибьюторный Центр. Переход может рассматриваться как исключение в особых случаях, при наличии заявления на имя Дистрибьютора этого Центра, заверенного Региональным Менеджером. При отсутствии уважительных причин Консультант, совершивший переход, может возобновить деятельность Консультанта в новом Дистрибьюторном Центре по истечении 6 месяцев после последнего заказа в предыдущем Дистрибьюторном Центре (потеря статуса). Обязательным условием при переходе является обучение и выполнение Квалификации.
                        li 16. День Успеха – день для всеобщего рекрутирования и сбора «холодных» контактов, проводимый перед первым месяцем следующего квартала.
                        li 17. Tupperware - месяц и Tupperware - неделя – временные периоды в рамках внутреннего календаря Tupperware, могут не совпадать с общепринятым календарём.
                        li 18. Подарки и специальные предложения становятся доступными консультантам после проверки заказа в Личном кабинете.
                        li 19. Подарки доступны в течение программы и 3 недели после окончания программы.
                        li 20. Если заказ с подарком по каким-либо причинам не был выкуплен, повторно подарок заказать будет нельзя
                .rules__blocks_tab
                    span Документы
                    .rules__blocks_tab_arrow
                .rules__blocks_content(data-tab='2') фцвфцвфцвфцвфцвфцв

