extends ../layouts/default

block content
    .myslider.view-port
        .myslider__container slider
            ul.myslider__container_ul#myList
                li.myslider__container_li
                    img(src='images/index_catalogs_1.jpg')
                li.myslider__container_li
                    img(src='images/index_catalogs_2.jpg')
                li.myslider__container_li
                    img(src='images/index_catalogs_3.jpg')
                li.myslider__container_li
                    img(src='images/index_catalogs_4.jpg')
            .myslider__container_button
                button.mybutton button