@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Light.woff2') format('woff2'),
        url('TupperPRO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Mediumitalic.woff2') format('woff2'),
        url('TupperPROWIDE-Mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Mediumitalic.woff2') format('woff2'),
        url('TupperPRONARROW-Mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome.woff2') format('woff2'),
        url('FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Italic.woff2') format('woff2'),
        url('TupperPROWIDE-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-UltraLightitalic.woff2') format('woff2'),
        url('TupperPRO-UltraLightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Italic.woff2') format('woff2'),
        url('TupperPRONARROW-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Lightitalic.woff2') format('woff2'),
        url('TupperPRO-Lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Light.woff2') format('woff2'),
        url('TupperPROWIDE-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-UltraLightitalic.woff2') format('woff2'),
        url('TupperPROWIDE-UltraLightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Italic.woff2') format('woff2'),
        url('TupperPRO-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Thinitalic.woff2') format('woff2'),
        url('TupperPROWIDE-Thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Thinitalic.woff2') format('woff2'),
        url('TupperPRO-Thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Light.woff2') format('woff2'),
        url('TupperPRONARROW-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Heavyitalic.woff2') format('woff2'),
        url('TupperPROWIDE-Heavyitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Medium.woff2') format('woff2'),
        url('TupperPRO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-UltraLightitalic.woff2') format('woff2'),
        url('TupperPRONARROW-UltraLightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Lightitalic.woff2') format('woff2'),
        url('TupperPRONARROW-Lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Bolditalic.woff2') format('woff2'),
        url('TupperPRONARROW-Bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-UltraLight.woff2') format('woff2'),
        url('TupperPROWIDE-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Regular.woff2') format('woff2'),
        url('TupperPRO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Bold.woff2') format('woff2'),
        url('TupperPRONARROW-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Heavy.woff2') format('woff2'),
        url('TupperPROWIDE-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-UltraLight.woff2') format('woff2'),
        url('TupperPRONARROW-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Light.woff2') format('woff2'),
        url('TupperPRO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Regular.woff2') format('woff2'),
        url('TupperPRONARROW-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Bolditalic.woff2') format('woff2'),
        url('TupperPRO-Bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Bold.woff2') format('woff2'),
        url('TupperPROWIDE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Bolditalic.woff2') format('woff2'),
        url('TupperPROWIDE-Bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Thin.woff2') format('woff2'),
        url('TupperPROWIDE-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Thin.woff2') format('woff2'),
        url('TupperPRONARROW-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Heavy.woff2') format('woff2'),
        url('TupperPRONARROW-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Thin.woff2') format('woff2'),
        url('TupperPRO-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Heavyitalic.woff2') format('woff2'),
        url('TupperPRONARROW-Heavyitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Medium.woff2') format('woff2'),
        url('TupperPRONARROW-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Heavy.woff2') format('woff2'),
        url('TupperPRO-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Medium.woff2') format('woff2'),
        url('TupperPROWIDE-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO NARROW';
    src: url('TupperPRONARROW-Thinitalic.woff2') format('woff2'),
        url('TupperPRONARROW-Thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Regular.woff2') format('woff2'),
        url('TupperPROWIDE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Mediumitalic.woff2') format('woff2'),
        url('TupperPRO-Mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO WIDE';
    src: url('TupperPROWIDE-Lightitalic.woff2') format('woff2'),
        url('TupperPROWIDE-Lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Bold.woff2') format('woff2'),
        url('TupperPRO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Heavyitalic.woff2') format('woff2'),
        url('TupperPRO-Heavyitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-UltraLight.woff2') format('woff2'),
        url('TupperPRO-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

