//sizes
$view-port-xl = 1280px
$view-port-large = 950px
$view-port-tablet = 800px
$view-port-medium = 650px
$view-port-mob = 500px
$view-port-sm = 320px

$padding-sm = 13px
$padding-mob = 20px
$padding-medium = 25px
$padding-tablet = 30px
$padding-large = 40px

//colors
$disc-color = #C4C4C4
$fill-color = #F7F8FC
$main-color = #1EB5DA
$black-color = #000
$white-color = #fff
$orange-color = #36C73D
$red-color = #E30385
$snow-color = #F7F8FC
$pink-color = #828282
$light-grey-color = #B0B0B0
$light-color = #E0E0E0
$icon-color = #BDBDBD